.menu-list li {
    list-style: none;
}

#prod-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.short-field {
    width: 30%;
}

@media (max-width: 738px) {
    #prod-list {
        grid-template-columns: 1fr;
    }

    .short-field {
        width: 100%;
    }
}