{% extends 'base.html' %}

{% block title %}New Location{% endblock %}

{% block content %}
<form action="{{url_for('location.add')}}" method="POST">
    <div class="field">
        <label class="label" for="location_id">Location ID:</label>
        <input autofocus name="location_id" id="location_id" class="input is-large" type="text" placeholder="Enter location id here">
    </div>
    <div class="field is-grouped">
        <div class="control">
            <input class="button is-link is-large" type="submit" value="Add to Database">
        </div>
      </div>
</form>
{% endblock %}