{% extends 'base.html' %}

{% block title %}{{location['location_id']}}{% endblock %}

{% block header %}
<nav class="level box">
    <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-5">
            <strong>Location: {{ location['location_id'] }}</strong>
          </p>
        </div>
    </div>
    <div class="level-right">
        <p class="level-item">
            <a href="{{url_for('location.edit', location_id=location['location_id'])}}" class="button is-info">Edit</a>
        </p>
    </div>
</nav>
{% endblock %}