{% extends 'base.html' %}

{% block title %}Update {{location['location_id']}}{% endblock %}


{% block content %}
<form action="{{url_for('location.edit', location_id=location['location_id'])}}" method="POST">
    <div class="field">
        <label class="label" for="location_id">Location ID:</label>
        <input value="{{location['location_id']}}" autofocus name="location_id" id="location_id" class="input is-large" type="text" placeholder="Enter location id here">
    </div>
    <div class="field is-grouped">
        <div class="control">
            <input class="button is-link is-large" type="submit" value="Update Database">
        </div>
      </div>
</form>
{% endblock %}