{% extends 'base.html' %}

{% block title %}New Product{% endblock %}

{% block content %}
<form action="{{url_for('product.add')}}" method="POST">
    <div class="field">
        <label class="label" for="product_id">Product ID:</label>
        <input autofocus name="product_id" id="product_id" class="input is-large" type="text" placeholder="Enter product id here">
    </div>
    <div class="field is-grouped">
        <div class="control">
            <input class="button is-link is-large" type="submit" value="Add to Database">
        </div>
      </div>
</form>
{% endblock %}