{% extends 'base.html' %}

{% block title %}Update {{product['product_id']}}{% endblock %}

{% block content %}
<form action="{{url_for('product.edit', product_id=product['product_id'])}}" method="POST">
    <div class="field">
        <label class="label" for="product_id">Product ID:</label>
        <input value="{{product['product_id']}}" autofocus name="product_id" id="product_id" class="input is-large" type="text" placeholder="Enter product id here">
    </div>
    <div class="field is-grouped">
        <div class="control">
            <input class="button is-link is-large" type="submit" value="Update Database">
        </div>
      </div>
</form>
{% endblock %}