{% extends 'base.html' %}

{% block title %}All Products{% endblock %}

{% block header %}
<nav class="level">
    <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-5">
            <strong>All the products in the database</strong>
          </p>
        </div>
    </div>
    <div class="level-right">
        <p class="level-item">
            <a href="{{url_for('product.add')}}" class="button is-info">New</a>
        </p>
    </div>
</nav>
{% endblock %}

{% block content %}
    <aside class="menu">
        {% if (products | length) == 0 %}
            No products in database
        {% else %}
            <ul class="menu-list">
                {% for product in products %}
                    <li>
                        <a href="{{ url_for('product.view', product_id=product['product_id']) }}">
                            {{product['product_id']}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </aside>
{% endblock %}
